

@charset "UTF-8";
@-webkit-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@-moz-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: .33333333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #d8d8d8;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background:  #d8d8d8;
}
.option-input:checked {
  background: #a3a3a3;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "";
  display: inline-block;
  font-size: 26.6666666667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #969696;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

.tableCard{
  text-align:center;
}




.App {
  text-align: center;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 90vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html,body
{
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden; 
    
}

.header{
  display:flex;
  flex-direction:column;
  align-items: center;
}

nav{
  display:flex;
  background-color: #33363f;
  color:azure;
  height: 80px;
  width:100%;
 
  align-items:center;
  padding: 10px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
  top:0px;
  position:sticky;
  z-index: 1;
  color:azure;
  width:100%;
}

.nav--logo_text, .nav--info_text{
  margin:0;
  color:#d8d8d8;

}

.nav--info_text{
  font-size:3vmin;
}

.nav--logo_text{
  margin-right:auto;
  font-size:3vmin;
}

.nav--logo{
  width:3rem;
  margin-right:7px;
}



.box{
  padding:0px 0px 15px 0px;
}

html{
  scroll-behavior: smooth;
}


.Title{
  background-color:azure;
  font-size:1.4em;
  font-weight:bold;
  color:black;
  align-self: center;
}

.forms{
  display:flex;
  flex-direction: row;
}


footer{
  bottom:0px;
  background-color:  #33363f;
  font-size:small;
  color:#d8d8d8;
  padding:.7rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}
main{
  scroll-margin-top:2rem;
}

.mainbody{
  margin:10px 0px 0px 0px;
}

.titleofvote{
  
  text-align: center;
  font-size:.8rem;
}


.nav-logo {
  width:60px;
  
  margin:0px 0px 0px 10px;
}

.apptitle{
  align-items: center;
}

.nav-items{
  list-style:none;
  display:flex;
  flex-direction:row;
flex-wrap:nowrap;
  font-size:4vmin;
  align-items:center;
  
  justify-content:space-around;
}

.infotable{
  display:table;
}


section{
  padding:0px 1.2rem 0px 1.2rem;
}

.card{
  width:105px;
  
  color:#33363f;
  flex: 0 0 auto;
  display: flex;
  flex-direction:column;
  border-radius:10px;
  align-items:center;
  justify-content: center;
  text-align:center;
}

.userPic{
  border-radius:40px;
  width:2.5rem;
  padding:5px;
  border-style:solid;
  border-color:#E8F0F2;
  border-width:2px;
  margin:5px;
  overflow: clip;
}


td{
  align-items:center;
  display:table;
}

.card--image {
  width:100%;
  border-radius:0.95rem;
  display:flex;
  padding:5px;
 
}
.cards-list{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(6.875rem, 1fr));
  justify-content: center;
  row-gap: 1.25rem;
  
}
.cards-text {
  color:#282c34;
  
}


.bob{
  width: 100vw;
  display:flex;
  justify-content: space-between;
  overflow-x: auto;
} 

.Tabs {
  width: 100%;
  height: auto;
  min-height: 25rem;
  background: #053742;
  margin: 0px 5px 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 1rem;
  font-size:small;
  flex-wrap:nowrap;
}
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
.chkBoxName{
  color:#282c34;
}
 
.react-tabs__tab-list {
  width: 100%;
  margin: 0 auto 2rem;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
 
}
 
.react-tabs__tab {
  width: 20%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
 
.react-tabs__tab--selected {
  background: #39A2DB;
}
 
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
 
.react-tabs__tab:hover {
  background: rgba(50, 224, 196, 0.15);
}
 
.react-tabs__tab:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
 
.react-tabs__tab:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
 
.react-tabs__tab-panel {
  display: none;
}
 
.react-tabs__tab-panel--selected {
  display: block;
  font-size: 2rem;
  text-align: center;
}


.dropDownProfile{
position:absolute;
color:black;
top:5rem;
right:0.5rem;
width:90px;
padding:15px;
border-radius:8px;
background-color:white;
border: 1px solid gray;


}

.dropDownProfile::before{
  content:'';
  position:absolute;
  top:-0.7rem;
  right: 1.1rem;
  width:20px;
  height:20px;
  transform: rotate(45deg);
  background-color:white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;

}

.logoutbutton{
  border-width:0px;
  background-color: white;
}

