@charset "UTF-8";
@-webkit-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@-moz-keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: .33333333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #d8d8d8;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background:  #d8d8d8;
}
.option-input:checked {
  background: #a3a3a3;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "";
  display: inline-block;
  font-size: 26.6666666667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #969696;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}






.App {
  text-align: center;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 90vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html,body
{
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden; 
}

.nav{
  display:flex;
  background-color: #33363f;
  color:azure;
  height: 80px;
  width:100%;
  justify-content:center;
  align-items:center;
  padding: 10px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
}

header,footer{
  position:sticky;
  z-index: 1;
  color:azure;
  width:100%;
}


.box{
  padding:0px 0px 15px 0px;
}
header{
  top:0px;
 
}
html{
  scroll-behavior: smooth;
}


.Title{
  background-color:azure;
  font-size:x-large;
  font-weight:bold;
  color:black;
}

.forms{
  display:flex;
  flex-direction: row;
}


footer{
  bottom:0px;
  background-color:  #33363f;
  font-size:small;
  padding:.7rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}
main{
  scroll-margin-top:8rem;
}


.nav-logo {
  width:60px;
  
  margin:0px 0px 0px 10px;
}

.nav-items{
  list-style:none;
  display:flex;
  font-size:calc(0.7rem + 2vmin);;
  align-items:center;
}


section{
  padding:0px 1.2rem 0px 1.2rem;
}

.form-control12 {
  --form-control-color: rebeccapurple;
  font-family: system-ui, sans-serif;
  font-size: 0.5rem;
 margin-top:5px;
 margin-bottom:5px;
  line-height: 1.1;
  display: inline-block;
  align-items: center;
  gap: 0.7rem;
  text-align: center;

}


.form-control12 input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font:inherit;
  font-size:1.4rem;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  flex:none;
  text-align: center;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
 
}

.form-control12 input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.form-control12 input[type="checkbox"]:checked::before {
  transform: scale(1) !important;
}

.card{
  width:105px;
  
  color:#33363f;
  flex: 0 0 auto;
  display: flex;
  flex-direction:column;
  border-radius:10px;
  align-items:center;
}

.card--image {
  width:100%;
  border-radius:0.95rem;
  display:flex;
  padding:5px;
 
}
.cards-list{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(6.875rem, 1fr));
  justify-content: center;
  row-gap: 1.25rem;
  
}
.cards-text {
  color:#282c34;
  
}


.bob{
  width: 100vw;
  display:flex;
  justify-content: space-between;
  overflow-x: auto;
} 

.Tabs {
  width: 100%;
  height: auto;
  min-height: 25rem;
  background: #053742;
  margin: 0px 5px 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 1rem;
  font-size:small;
  flex-wrap:nowrap;
}
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
.chkBoxName{
  color:#282c34;
}
 
.react-tabs__tab-list {
  width: 100%;
  margin: 0 auto 2rem;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
 
}
 
.react-tabs__tab {
  width: 20%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
 
.react-tabs__tab--selected {
  background: #39A2DB;
}
 
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
 
.react-tabs__tab:hover {
  background: rgba(50, 224, 196, 0.15);
}
 
.react-tabs__tab:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
 
.react-tabs__tab:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
 
.react-tabs__tab-panel {
  display: none;
}
 
.react-tabs__tab-panel--selected {
  display: block;
  font-size: 2rem;
  text-align: center;
}

